[Unit]
Description=Gunicorn ile flask api kurmak için servis dosyası
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/opt/akyg
ExecStart=/usr/bin/gunicorn --workers 3 --bind unix:app.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
